

    <section class="allcenter" style="margin-top: 20px;">
<div class="container second" style="background-image: url(../../../assets/img/center33.jpg);">
    <h1><span class="high3"> Lorem ipsum dolor sit amet consectetur </span><br><span class="high2">A at assumenda tenetur facere quidem dicta</span></h1>
    <div class="container mt-5 first">
        
        <input type="text" maxlength="12" placeholder="Address or city" class="searchbar" />
   
         <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="button gh" />

    </div>
</div>    

        <div class="container">
            <h1 class="text-center">Officia quia commodi debitis provident</h1>
            <div class="row mt-5" >
                <div class="col-lg-4 mb-5 mr2" *ngFor="let cs of center">
                    <div class="box shadow-sm">
                        <img srcset="{{cs.image}}" width="100%">
                        <h4 class="mt-2">{{cs.name}}</h4>
                        <h5 class="mt-2" style="color: #261d51;">Job Description</h5>
                        <p clas="mt-2">{{cs.descriptionjob}}</p>
                        <button class="btn btn-dark btn-sm mt-2" >Enroll now</button>
                    </div>
        
                </div>
            </div>
        </div>
       
    </section>


