<section class="course" style="padding-top: 80px;">
    

     <div class="container">
      <h1 class="text-center"><strong>all Categorys</strong> </h1>
          <div class="row mt-5" >
              <div class="col-lg-3 mb-5" *ngFor="let c of users" >
                  <div  class="box shadow-sm">
                      
                      <h1 class="mt-2"><strong>{{c.roleName}}</strong></h1>
                      
                      <button class="btn btn-dark btn-sm mt-2" routerLink="{{c.linkpage}}">View
                      </button>
                     <!--<h1 *ngIf {{c.category}}="Informatique" >hello</h1>--> 
                  </div>
      
              </div>
          </div>
      
         
      </div>
      </section>
  