
    
  
   
      <div class="row ml-4 mr-4" style="padding-top: 60px;">
      
          
        <!--add-->
        
        <div class="col-lg-12 mt-5 ">
        <div class=" sectionCenter">
         
            <div class="story">
                <div class="cover">
                    <div class="create">
                        <div class="svg">
                            
                            <img src="../../../assets/img/svg/plusWhite.svg" alt="Create Story" data-toggle="modal" data-target="#exampleModal" >
                        </div>
                        
                        <h3>Post an Add</h3>
                    </div>
                    <div class="bg" style="background-color: lightblue;">
                        <span></span>
                    </div>
                </div>
        
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img/img1.jpg);"></div>
                    </div>
                    <h3>FilipCodes YT</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/angular.jpg);">
                        <span></span>
                    </div>
                </div>
        
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img2.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/reactjs.jpg);">
                        <span></span>
                    </div>
                </div>
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/typescript.jpg);">
                        <span></span>
                    </div>
                </div>
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img7.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/html.png);">
                        <span></span>
                    </div>
                </div>
                <div class="cover">
                    <div class="pro">
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img5.jpg);"></div>
                    </div>
                    <h3>User Name</h3>
                    <div class="bg" style="background-image: url(../../../assets/img/nodejs.jpg);">
                        <span></span>
                    </div>
                </div>
            </div>
        <!--barre de recherche-->
            <div class="createPost col-lg-12">
                <div class="input">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);">
                        <span></span>
                    </div>
                    <div class="post"  >
                        <form class="d-flex" >
                            <input class="form-control me-2" type="search" placeholder="Are you looking for a job ?" aria-label="Search" style="
                            border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: #261d51;  border-top-right-radius: 20px;
                             border-bottom-right-radius: 20px;" ><i class="bi bi-search"></i></button>
                          </form>
                    </div>
                </div>
        <div class="col-lg-12 mt-5">
                <div class="row buttons " style="background-color: aliceblue; border-radius: 20px;">
                    <div class="col-lg-3 ">
                    <span>
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/money.svg);">
                           
                        </div>
                        <h4>Bills</h4>
                    </span>
                </div>
                <div class="col-lg-3">
                    <span>
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/messages.svg);">
                            
                        </div>
                        <h4>Messages</h4>
                    </span>
                </div>
                <div class="col-lg-3">
                    <span>
                        <div class="globalRoundProfile" style="background-image: url(../../../assets/img/favorites.svg);">
                            
                        </div>
                        <h4>Favorites</h4>
                    </span>
                </div>
                <div class="col-lg-3">
                    <span>
                        <div class="globalRoundProfile"  style="background-image: url(../../../assets/img/cv.svg);">
                            
                        </div>
                        <h4  >Add CV</h4>
                        
                    </span>
                    
                </div>
                
            
                </div>
            
            </div>
              
            </div>
         
        
        
            
        <!--annonces-->        
        
  
  
  
  
  
  
  
  
        </div>
        </div>
  <!--car-->
  <div class="card  " style=" align-items: center;
   align-self: center; display: flex; background-color:none ; margin: auto; border: none; margin-top: 200px;">
  <h1 class="text-center">All Courses</h1>
  <ngb-carousel *ngIf="images" [showNavigationArrows]="showNavigationArrows" 
  [showNavigationIndicators]="showNavigationIndicators"  >
    <ng-template ngbSlide *ngFor="let slide of course" style="padding: auto;">
      
      <div class="container" style="align-items: center; align-self: center;
      display: flex;">
        
    
        <div class="row mt-5 m-auto" >
            <div class="col-lg-3 mb-5 " *ngFor="let cs of slide">
                <div class="box shadow-sm mr-4 ml-4" style="background-color: aliceblue;">
                    <img srcset="{{cs.image}}" width="100%">
                    <h4 class="mt-2">{{cs.name}}</h4>
                    <p clas="mt-2">{{cs.description}}</p>
                    <button class="btn btn-dark btn-sm mt-2" routerLink="{{cs.linkpage}}">Enroll now</button>
                </div>
    
            </div>
        </div>
    
    </div>
    </ng-template>
  </ngb-carousel>
  
  
  <hr>
  </div>
  
  <!--car-->
  
  
  
        <!--main content-->
        
        
       
        
  
  
  
  
  
  
            
        
        <!-- Button trigger modal -->
  
  <!-- Modal -->
  <div class="modal fade m-auto shadow-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered " role="document" style="margin: auto; ">
      <div class="modal-content" style="padding-top: 50px;">
        <div class="modal-header " style="align-items: center; align-self: center; display: flex;">
            <h2 class="modal-title " id="modal-basic-title" >Upload Courses</h2>
           </div>
           <div class="alert alert-success" *ngIf='message==1'>You have successfully added</div>
      
          <form [formGroup]="foodForm">
           
          <div class="modal-body" style="margin: 20px;">
              <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white"> Full Name </span>
                    </div>
                    <input type="text" name="" id="" formControlName="formerName" class="form-control">
                    <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username">-->
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white"> Email </span>
                    </div>
                    <input type="email" name="" id="" formControlName="formerEmail" class="form-control">
                    <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username">-->
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white"> Course's Name </span>
                    </div>
                    <input type="text" name="" id="" formControlName="courseName" class="form-control">
                    <!--<input type="text" class="form-control" placeholder="Username" aria-label="Username">-->
                  </div>
                </div>
                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text bg-info text-white">Price</span>
                    </div>
                    <input type="number" name="" id="" formControlName="price" class="form-control" aria-label="Amount (to the nearest dollar)">
                    <!--<input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">-->
                    <div class="input-group-append">
                      <span class="input-group-text">Dt</span>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">Picture</span>
                      </div>
                      <input type="file" name="" id="" formControlName="picture" class="form-control" (change)="fnChange({event : $event})"><br>
                     
                    </div>
                  </div>
                <!----------Picture
                  <div class="form-group" style="margin-bottom: 10px;" >
                      <h3 style=" margin-top: 7px; text-decoration: underline; font-weight: normal;">Picture</h3>
                      <input type="file" name="" id="" formControlName="picture" class="form-control" (change)="fnChange({event : $event})"><br>
                   
                      
                     
                    </div>
                  -->
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">Category</span>
                      </div>
                      <select class="form-control"  name="category" formControlName="category" style="width:245px;height:39px;border-radius: 20px;" >
                        <option value=""></option>
                        <option value="Mathématique" >Mathématique</option>
                        <option value="Spanish">Spanish</option>
                        <option value="Anglais">Anglais</option>
                        <option value="Français">Français</option>
                        <option value="Informatique">Informatique</option>
                        <option value="Physique">Physique</option>
                        <option value="Sport">Sport</option>
                        <option value="Dance">Dance</option>
                    </select >                     
                    </div>
                  </div>
                
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white">Description</span>
                      </div>
                      <input type="text" name="" id="" formControlName="description" class="form-control">
                    </div>
                  </div>
               
                </div>
          
          <div class="modal-footer" style="padding-top: 30px; align-self: center; align-items: center;
          display: flex; padding-bottom: 5px;">
            <button type="button" class="btn btn-info" data-dismiss="modal" style="margin-right: 30px;
             background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 20%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
    background-repeat: repeat-x;
  border-radius:20px;">Close</button>
           <!---- <button type="button" class="btn btn-success" style="background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 20%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
            backg>round-repeat: repeat-x;
          border-radius:20px;" >Save changes</button>-->
          <input type="button" value="Add" class="btn btn-success" (click)="fnAdd()" style="background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.2) 20%, rgba(0,0,0,0.15) 51%, rgba(0,0,0,0.05));
          background-repeat: repeat-x;
        border-radius:20px;">
             </div>
            </form>
      </div>
    </div>
  </div>
  </div>
  