

<section class="course" style="margin-top: 20px;">
<div class="container second" style="background-image:url(../../../assets/img/back1.jpg) ;">
    <h1><span class="high3"> finding a prof nearby your house</span><br><span class="high2">is simple and fast with learnNow</span></h1>
    <div class="container mt-5 first">
    <input type="text" maxlength="12" placeholder="Address or city" class="searchbar" />
   
    <img src="https://images-na.ssl-images-amazon.com/images/I/41gYkruZM2L.png" alt="search icon" class="button gh"  />
</div>  
</div>



    <div class="container" >
        <h1 class="text-center">Our selection of private teachers</h1>
    
        <div class="row mt-5 " >
            <div class="col-lg-4 mb-5 " *ngFor="let cs of course">
                <div class="box shadow-sm ml-3">
                    <img srcset="{{cs.image}}" width="100%" class="gha">
                    <h4 class="mt-2">{{cs.name}}</h4>
                    <p clas="mt-2">{{cs.description}}</p>
                    <button class="btn btn-dark btn-sm mt-2" >Hire me</button>
                </div>
    
            </div>
        </div>
    
    </div>
    </section>



