.joinnow
{
    background-color: #eff6ff;
    padding: 140px 100px;
}
.login
{
    background-color: #ffffff;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{

    .joinnow
{
    padding: 140px 30px;
}
}
.bv{
    background-color: #261d51;
      outline: none;
      border: none;
      color: #fff;
      padding: 8px 22px;
      border-radius: 20px;
      font-size: 14px;
      transition: all 0.3s ease;
      cursor: pointer;
  }