

<div class="row ml-4 mr-4" style="padding-top: 40px;">
    
    

    <!--add-->
    <div class="col-lg-12">
    <div class=" sectionCenter">
    <hr>
        <div class="story">
            <div class="cover">
                <div class="create">
                    <div class="globalRoundProfile">
                        <img src="../../../assets/img/search.svg" alt="Create Story">
                    </div>
                    <h3>Find a course</h3>
                </div>
                <div class="bg" style="background-color: #261d51;" >
                    <span></span>
                </div>
            </div>
    
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img/img1.jpg);"></div>
                </div>
                <h3>FilipCodes YT</h3>
                <div class="bg" style="background-image: url(../../../assets/img/angular.jpg);">
                    <span></span>
                </div>
            </div>
    
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img2.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/reactjs.jpg);">
                    <span></span>
                </div>
            </div>
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/typescript.jpg);">
                    <span></span>
                </div>
            </div>
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img7.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/html.png);">
                    <span></span>
                </div>
            </div>
            <div class="cover">
                <div class="pro">
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img5.jpg);"></div>
                </div>
                <h3>User Name</h3>
                <div class="bg" style="background-image: url(../../../assets/img/nodejs.jpg);">
                    <span></span>
                </div>
            </div>
        </div>
    <!--barre de recherche-->
        <div class="createPost col-lg-12">
            <div class="input">
                <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img3.jpg);" routerLink="userprofile">
                    <span></span>
                </div>
                <div class="post"  >
                    <form class="d-flex" >
                        <input class="form-control me-2" type="search" placeholder="Are you looking for a job ?" aria-label="Search" style="
                        border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
                         <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                         padding-right: 10px; background-color: #261d51;  border-top-right-radius: 20px;
                         border-bottom-right-radius: 20px;" ><i class="bi bi-search"></i></button>
                      </form>
                </div>
            </div>
    <div class="col-lg-12 mt-5">
            <div class="row buttons " style="background-color: aliceblue; border-radius: 20px;" >
                <div class="col-lg-3 " routerLink="billing">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/pay.svg);">
                       
                    </div>
                    <h4>Bills</h4>
                </span>
            </div>
            <div class="col-lg-3" routerLink="messages">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/messages.svg);">
                        
                    </div>
                    <h4>Messages</h4>
                </span>
            </div>
            <div class="col-lg-3" routerLink="favorites-student">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/favorites.svg);">
                        
                    </div>
                    <h4>Favorites</h4>
                </span>
            </div>
            <div class="col-lg-3" routerLink="planning-student">
                <span>
                    <div class="globalRoundProfile" style="background-image: url(../../../assets/img/calendar.svg);">
                        
                    </div>
                    <h4>Planning</h4>
                </span>
                
            </div>
        
            </div>
        
        </div>
          
        </div>
     
    
    <div style="padding-top: 200px;">
        <hr>
    </div>
    
    
        
   <!--annonces-->        
   <div class="row mt-5" style="align-content: center; justify-content: center; display: flex; background-color: aliceblue; border-radius: 20px;">
    
    <div class="col-md-6 mt-2 ml-5 " style="background-color: #fff; border-radius: 20px; border: lightslategray 0.5px solid;" >
        <div class="box shadow-sm  "  style="background-image:url(../../../assets/img/typescript.jpg) ; border-bottom-left-radius: 0;
         border-bottom-right-radius: 0; background-position: center; background-size: cover;">
            <div class="row">
            <div class="col-lg-12" style="display: flex; align-items: center; justify-content: center; "  >
                
            
                <img src="../../../assets/img/img3.jpg" width="100%" class="gha" >
                
                
            
            </div>
            
            

            </div>




    
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="title text-center" style="font-weight: bold; color: #261d51 ;">Mehdi njema</h4>
                    <h6 class="text-center" style="font-weight: bold; color: #261d51 ;" >username </h6>
                   
                    <p class="text-center" style="color: lightslategray;">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</p>
                    <div style="align-items: center; justify-content: center; display: flex;">

                        <div class="row mt-5" >
                            <div class="col-lg-4 mr-3" >
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: lightblue;  border-radius: 20px;
                              border: none;" ><i class="bi bi-calendar-plus-fill "></i></button>
                         
                            </div>
                            <div class="col-lg-4 ml-3">
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: lightblue;  border-radius: 20px; border: none; " ><i class="bi bi-star-fill "></i></button>
                         
                            </div>
                        </div>
                     </div>
                    <br>
               <br>
               
               
                    <hr>
                    
                    <div class="col-lg-12 mt-3 mb-3 " style=" display: flex; align-items: center; justify-content: center;">
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-facebook"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-whatsapp"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-instagram"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div class="col-md-6 mt-2 ml-5" style="background-color: #fff; border-radius: 20px; border: lightslategray 0.5px solid;" >
        <div class="box shadow-sm  pos"  style="background-image:url(../../../assets/img/reactjs.jpg) ;
         border-bottom-left-radius: 0; border-bottom-right-radius: 0; background-size: cover; background-position: center; ">
            <div class="row">
            <div class="col-lg-12" style="display: flex; align-items: center; justify-content: center; "  >
                
            
                <img src="../../../assets/img/img2.jpg" width="100%" class="gha" >
                
                
            
            </div>
            
            

            </div>




    
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="title text-center" style="font-weight: bold; color: #261d51 ;">Mehdi njema</h4>
                    <h6 class="text-center" style="font-weight: bold; color: #261d51 ;" >username </h6>
                   
                    
                    <p class="text-center" style="color: lightslategray;">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</p>
                    <div style="align-items: center; justify-content: center; display: flex;">

                        <div class="row mt-5" >
                            <div class="col-lg-4 mr-3" >
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: lightblue;  border-radius: 20px;
                              border: none;" ><i class="bi bi-calendar-plus-fill "></i></button>
                         
                            </div>
                            <div class="col-lg-4 ml-3">
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: lightblue;  border-radius: 20px; border: none; " ><i class="bi bi-star-fill "></i></button>
                         
                            </div>
                        </div>
                     </div>
                    <br>
               <br>
               
               
                    <hr>
                    
                    <div class="col-lg-12 mt-3 mb-3 " style=" display: flex; align-items: center; justify-content: center;">
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-facebook"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-whatsapp"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-instagram"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 mt-2 ml-5" style="background-color: #fff; border-radius: 20px; border: lightslategray 0.5px solid; " >
        <div class="box shadow-sm  "  style="background-image:url(../../../assets/img/nodejs.jpg) ; border-bottom-left-radius: 0;
         border-bottom-right-radius: 0; background-position: center; background-size: cover;">
            <div class="row">
            <div class="col-lg-12 " style="display: flex; align-items: center; justify-content: center; "  >
                
            
                <img src="../../../assets/img/img8.jpg" width="100%" class="gha" >
                
                
            
            </div>
            
            

            </div>




    
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <h4 class="title text-center" style="font-weight: bold; color: #261d51 ;">Mehdi njema</h4>
                    <h6 class="text-center" style="font-weight: bold; color: #261d51 ;" >username </h6>
                   
                    <p class="text-center" style="color: lightslategray;">Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</p>
                    <div style="align-items: center; justify-content: center; display: flex;">

                        <div class="row mt-5" >
                            <div class="col-lg-4 mr-3" >
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: lightblue;  border-radius: 20px;
                              border: none;" ><i class="bi bi-calendar-plus-fill  "></i></button>
                         
                            </div>
                            <div class="col-lg-4 ml-3">
                             <button type="submit" class="btn btn-info btn-fill pull-right " style=" color:#fff; font-weight: bold; padding-left: 10px;
                             padding-right: 10px; background-color: lightblue;  border-radius: 20px; border: none; " ><i class="bi bi-star-fill "></i></button>
                         
                            </div>
                        </div>
                     </div>
                    <br>
               <br>
               
               
                    <hr>
                    
                    <div class="col-lg-12 mt-3 mb-3 " style=" display: flex; align-items: center; justify-content: center;">
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-facebook"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-whatsapp"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-instagram"></i></a>
                        <a href="#" target="_blank" style="padding-right: 18px;"><i class="bi bi-skype"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!--
    <div class="mainPosts col-lg-6" >
        
        <div class="title">
            <div class="profile">
                <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img5.jpg);">
                    <span></span>
                </div>

                <div class="name">
                    <a href="#">User Name</a>
                    <span></span>
                </div>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <div class="description">
            LandingPage UI Design Using Html Css/Sass JS
        </div>

        <div class="post" style="background-image: url(../../../assets/img/reactjs.jpg);"></div>

        

        <div class="likeShare">
            <span>
                <div class="svg">
                    <i class="bi bi-calendar-plus-fill "></i>
                </div>
                <h3>Apply</h3>
            </span>
            
            <span>
                <div class="svg ">
                    <i class="bi bi-star-fill "></i>
                </div>
                <h3>Favorites</h3>
            </span>
        </div>
    </div>

    <div class="mainPosts col-lg-6">
        <div class="title">
            <div class="profile">
                <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img7.jpg);">
                    <span></span>
                </div>

                <div class="name">
                    <a href="#">User Name</a>
                    <span></span>
                </div>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <div class="description">
            LandingPage UI Design Using Html Css/Sass JS
        </div>

        <div class="post" style="background-image: url(../../../assets/img/nodejs.jpg);"></div>

        

        <div class="likeShare">
            <span>
                <div class="svg">
                    <i class="bi bi-calendar-plus-fill "></i>
                </div>
                <h3>Apply</h3>
            </span>
            
            <span>
                <div class="svg ">
                    <i class="bi bi-star-fill "></i>
                </div>
                <h3>Favorites</h3>
            </span>
        </div>
    </div>

    <div class="mainPosts col-lg-6">
        <div class="title">
            <div class="profile">
                <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img6.jpg);">
                    <span></span>
                </div>

                <div class="name">
                    <a href="#">User Name</a>
                    <span></span>
                </div>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <div class="description">
            LandingPage UI Design Using Html Css/Sass JS
        </div>

        <div class="post" style="background-image: url(../../../assets/img/typescript.jpg);"></div>

        

        <div class="likeShare">
            <span>
                <div class="svg">
                    <i class="bi bi-calendar-plus-fill "></i>
                </div>
                <h3>Apply</h3>
            </span>
            
            <span>
                <div class="svg ">
                    <i class="bi bi-star-fill "></i>
                </div>
                <h3>Favorites</h3>
            </span>
        </div>
    </div>

    <div class="mainPosts col-lg-6">
        <div class="title">
            <div class="profile">
                <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img4.jpg);">
                    <span></span>
                </div>

                <div class="name">
                    <a href="#">User Name</a>
                    <span></span>
                </div>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <div class="description">
            LandingPage UI Design Using Html Css/Sass JS
        </div>

        <div class="post" style="background-image: url(../../../assets//img/angular.jpg);"></div>

        

        <div class="likeShare">
            <span>
                <div class="svg">
                    <i class="bi bi-calendar-plus-fill "></i>
                </div>
                <h3>Apply</h3>
            </span>
            
            <span>
                <div class="svg ">
                    <i class="bi bi-star-fill "></i>
                </div>
                <h3>Favorites</h3>
            </span>
        </div>
    </div>
    <div class="mainPosts col-lg-6">
        <div class="title">
            <div class="profile">
                <div class="globalRoundProfile" style="background-image: url(../../../assets/img/img4.jpg);">
                    <span></span>
                </div>

                <div class="name">
                    <a href="#">User Name</a>
                    <span></span>
                </div>
            </div>
            <i class="fas fa-ellipsis-h"></i>
        </div>

        <div class="description">
            LandingPage UI Design Using Html Css/Sass JS
        </div>

        <div class="post" style="background-image: url(../../../assets//img/angular.jpg);"></div>

        

        <div class="likeShare">
            <span>
                <div class="svg">
                    <i class="bi bi-calendar-plus-fill "></i>
                </div>
                <h3>Apply</h3>
            </span>
            
            <span>
                <div class="svg ">
                    <i class="bi bi-star-fill "></i>
                </div>
                <h3>Favorites</h3>
            </span>
        </div>
    </div>
    <br>
    <br>
</div>


.btn{
  padding-left: 5px;
  border-radius: 20px;
  background-color: lightblue;
  
}

-->


</div>
</div>
</div>

</div>


<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

<div class="hero-section">
  <div class="card-grid">
    <a class="card shadow-sm" href="#" style="border-radius: 27px; border: none;">
      <div class="card__background" style="background-image: url(../../../assets/img/sousse.jpg)"></div>
      <div class="card__content">
        <p class="card__category">City</p>
        <h3 class="card__heading">Sousse</h3>
      </div>
    </a>
    <a class="card shadow-sm" href="#" style="border-radius: 27px; border: none;">
      <div class="card__background" style="background-image: url(../../../assets/img/monastir.jpg)"></div>
      <div class="card__content">
        <p class="card__category">City</p>
        <h3 class="card__heading">Monastir</h3>
      </div>
    </a>

    <a class="card shadow-sm" href="#"style="border-radius: 27px; border: none;">
      <div class="card__background" style="background-image: url(../../../assets/img/nabeul.jpg)"></div>
      <div class="card__content">
        <p class="card__category">City</p>
        <h3 class="card__heading">Nabeul</h3>
      </div>
    </a>
    <a class="card shadow-sm" href="#" style="border-radius: 27px; border: none;">
      <div class="card__background "style="background-image: url(../../../assets/img/sfax.jpg)"></div>
      <div class="card__content">
        <p class="card__category">City</p>
        <h3 class="card__heading">sfax</h3>
      </div>
    </a>
  <div>
  </div>
</div>
  
</div>
<div style="margin: auto;" class="container" >
    <h1>Other cities</h1>
<mat-chip-list aria-label="Fish selection">
      
    
    <mat-chip color="primary" selected style="background-color: #261d51;">Ben Arous</mat-chip>
    <mat-chip color="accent" selected style="background-color:lightblue;">Manouba</mat-chip>
    <mat-chip selected style="background-color: darkgray;" >Tunis</mat-chip>
    <mat-chip selected style="background-color: steelblue;">Ariana</mat-chip>
    <mat-chip color="primary" selected style="background-color: #261d51;">Mahdia</mat-chip>
    <mat-chip  selected style="background-color:lightblue;">Jendouba</mat-chip>
    <mat-chip selected>El kef</mat-chip>
    <mat-chip style="background-color:lightblue;" selected>Tataouine</mat-chip>
    <mat-chip  selected>Tozeur</mat-chip>
    <mat-chip selected style="background-color: darkgray;" >Gabès</mat-chip>
    
  </mat-chip-list>

</div>








    
    
    
    