<section class="course" style="padding-top: 80px;">
    
    <!---  <form [formGroup]="foodForm">
          price: <input type="number" name="" id="" formControlName="price" class="form-control">
        courseName: <input type="text" name="" id="" formControlName="courseName" class="form-control">
      
        <label  for="gender" >Category </label>
        <br>
        <select class="form-control"  name="category" formControlName="category" style="width:245px;height:39px;border-radius: 20px;" >
       <option value=""></option>
          <option value="Male" >Mathématique</option>
          <option value="Female">Spanish</option>
          <option value="Anglais">Anglais</option>
          <option value="Français">Français</option>
          <option value="Informatique">Informatique</option>
          <option value="Physique">Physique</option>
          <option value="Sport">Sport</option>
          <option value="Dance">Dance</option>
        </select >
        Former's Name: <input type="text" name="" id="" formControlName="formerName" class="form-control">
        Former's Email: <input type="email" name="" id="" formControlName="formerEmail" class="form-control">
      
        description: <input type="text" name="" id="" formControlName="description" class="form-control">
        Picture: <input type="file" name="" id="" formControlName="picture" class="form-control" (change)="fnChange({event : $event})"><br>
          <input type="button" value="Add" class="btn btn-success" (click)="fnAdd()">&nbsp;
          <input type="button" value="Modify" class="btn btn-warning">&nbsp;
          <input type="button" value="Delete" class="btn btn-danger">&nbsp;
      
      </form>
      <br>
      {{ foodForm.value | json}}
      <br>-->
     <!--- <table class="table table-striped table-bordered table-hover">
          <thead>
              <th>price</th>
              <th>courseName</th>
              <th>category</th>
              <th>description</th>
              <th>Picture</th>
          </thead>
          <tbody>
              <tr *ngFor="let f of foods">
                  <td>{{f.price}}</td>
                  <td>{{f.courseName}}</td>
                <td>{{f.category}}</td>
                  <td>{{f.description}}</td>
                
                  <td><img width="150" src="data:image/png;base64,{{f.picture}}" /></td>
              </tr>
          </tbody>
      </table>-->
     <div class="container">
          
        <h1 class="text-center"><strong>All Courses</strong></h1>
          <div class="row mt-5" >
              <div class="col-lg-4 mb-5" *ngFor="let c of courses">
                  <div  class="box shadow-sm">
                      <img srcset="data:image/png;base64,{{c.picture}}"  width="100%" >
                      <h1 class="mt-2"><strong>{{c.courseName}}</strong></h1>
                      <!--<h2 clas="mt-2"><strong>Description: </strong>{{c.description}}</h2>-->
                      <h2 clas="mt-2"><strong>Former's Name: </strong>{{c.formerName}}</h2>
                      <h2 clas="mt-2"><strong>Former's Email: </strong>{{c.formerEmail}}</h2>
                      <h3 clas="mt-2"><strong>Price: </strong>{{c.price}} <strong>DT</strong></h3>
                      <button class="btn btn-dark btn-sm mt-2" routerLink="{{c.linkpage}}">Enroll now</button>
                     <!--<h1 *ngIf {{c.category}}="Informatique" >hello</h1>--> 
                  </div>
      
              </div>
          </div>
      
      </div>
      </section>
  