<section class="course" style="padding-top: 80px;">
  <section class="course" style="padding-top: 80px;">
      <div class="container">
        <h1 class="text-center"><strong>All Courses</strong></h1>
          
          <div class="row mt-5" >
              <div class="col-lg-4 mb-5" *ngFor="let c of courses">
        <div class="card card-one">
          <header>
            <div class="avatar">
              <img srcset="data:image/png;base64,{{c.picture}}"  alt="Jhon Doe" />
            </div>
          </header>
      
          <h3>{{c.formerName}}</h3>
          <div class="desc " style="font-weight:bold; font-size: large; opacity:90%;">
            <i class="fa fa-book"></i>
            {{c.courseName}}</div>
          <div class="contacts" style="display: block;">
            <a href=""><i class="fa fa-location-arrow"></i><span style="margin-left:10px;">Sousse</span></a>
            <a href=""><i class="fa fa-phone"></i><span style="margin-left:10px;" >+216 55-958-955</span></a>
            <a href=""><i class="fa fa-envelope"></i><span style="margin-left:10px;">{{c.formerEmail}}</span></a>
            <div class="clear"></div>
          </div>
      
          <footer>
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-linkedin"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
          </footer>
        </div>
    </div>
          </div>
      
      </div>
    </section>